#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_BOARD_PX4_FMU_V6X_DEBUG_QE

config BOARD_HAS_PROBES
	bool "Board provides GPIO or other Hardware for signaling to timing analyzer"
	default y
	---help---
		This board provides GPIO FMU-CH1-8, CAP1-3 for timing analysis

endif
