menuconfig MODULES_WHEEL_LOADER_CONTROLLER
	bool "wheel_loader_controller"
	default n
	---help---
		Enable support for wheel loader controller module

if MODULES_WHEEL_LOADER_CONTROLLER

config MODULES_WHEEL_LOADER_CONTROLLER_DEBUG
	bool "Enable debug output"
	default n
	---help---
		Enable additional debug output for wheel loader controller

endif # MODULES_WHEEL_LOADER_CONTROLLER
